<h2>Profile</h2><a ng-if="(actor._id == user._id) || (actor.authorization=='Admin'&& user.authorization == 'User') || (actor.authorization =='SAdmin')" ng-click="editUser()">edit</a>
<div class="row">
    <div class="col-xs-4">
        <div class="img-container" style="height:200px">
            <img ng-src="{{(user.profile.image)?user.profile.image:'/img/default-profile.jpg'}}" class="img-rounded img-profile" style="width: 100%; height:100%; max-width: 200px; max-height: 200px">
        </div>
    </div>
    <div class="col-xs-8">
        <table class="table">
            <tr>
                <th>Email</th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th>Display Name</th>
                <td>{{user.displayName}}</td>
            </tr>
            <tr ng-if="user.userType == 'Tutors'">
                <th>Rate (per hour)</th>
                <td>${{user.charge}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{user.profile.description}}</td>
            </tr>
            <tr ng-if="actor.userType == 'Students' && user.userType == 'Tutors'" style="text-align: center;">

                <td colspan="2"><button class="btn btn-primary" ng-click="goToRequest()">Make a Request to This Tutor</button></td>
            </tr>
        </table>
    </div>
</div>
<div class="row" ng-if="user.userType == 'Tutors'" >
    <div class="col-xs-6" ng-if="user.topics.length != 0 ">
        <h2>Topics</h2>
        <div class="panel panel-default">
            <table class="table">
                <thead>

                </thead>
                <tbody>
                <tr ng-repeat="topic in user.topics" >
                    <th style="text-align: center;">{{topic.name}}</th>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row" ng-if="(user.userType != 'Students')&&((actor._id != user._id)||(user.reviews.length != 0))">
    <div class= "col-xs-8" >
        <h2>Reviews</h2>
        <div class="panel panel-default" ng-if="(actor._id != user._id)">
            <div class="panel-heading">
                <h2 class="panel-title">Add Review</h2>
            </div>
            <div class="panel-body">
                <form data-toggle="validator" role="form" name="form">
                    <table class="table">
                        <tr>
                            <div class="form-group" ng-class="{ 'has-error': form.reviewRating.$invalid && !form.reviewRating.$pristine}">
                                <th>Rating</th>
                                <td><input ng-model="newReview.rating" class="form-control" name="reviewRating" placeholder="Rating" type="number" min="0" max="5" step="1" value="2"></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group" ng-class="{ 'has-error': form.reviewMessage.$invalid && !form.reviewMessage.$pristine}">
                                <th>Message</th>
                                <td><textarea ng-model="newReview.message" class="form-control" name="reviewMessage" placeholder="Message" style="resize:vertical;"></textarea></td>
                            </div>
                        </tr>
                    </table>
                    <button class="btn btn-primary" ng-click="addReview()">Add Review</button>
                </form>
            </div>
        </div>
        <div class="panel-group" ng-if="user.reviews.length != 0 ">
            <div class="panel panel-default" ng-repeat="review in user.reviews | orderBy:'-time'">
                <div class="panel-body">
                    <table class="table" style="text-align: justify;">
                        <thead>
                            <tr>
                                <th style="text-align: left;">{{review.student.displayName}}</th>
                                <th style="text-align: center;">
                                    <div class="star-ratings-css">
                                        <div class="star-ratings-css-top" ng-style="{width: review.ratingWidth}" style="width: 100px;"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    </div>
                                </th>
                                <th style="text-align: right;">{{review.time_formatted}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">{{review.message}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer" ng-if="review.showReportingFields &&((actor._id == user._id)|| actor.authorization=='Admin' || actor.authorization =='SAdmin')">
                    <input ng-model="review.flagged" type="checkbox" id="flagBox">
                    <label for="flagBox">Report an Issue</label>
                    <div ng-if="review.flagged">
                        <div class="form-group" ng-class="{ 'has-error': form.flagReason.$invalid && !form.flagReason.$pristine}">
                            <th>Reason</th>
                            <td><textarea ng-model="review.reason" class="form-control" name="flagReason" placeholder="Message" style="resize:vertical;"></textarea></td>
                        </div>
                        <button class="btn btn-primary" ng-click="updateReviewFlag(review)" ng-disabled="form.$invalid">Report</button>
                    </div>
                </div>
                <div class="panel-footer" ng-if="(!review.showReportingFields) &&((actor._id == user._id)|| actor.authorization=='Admin' || actor.authorization =='SAdmin')">
                    <strong class="panel-title">Review Reported</strong>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row" ng-if="user.userType == 'Tutors'">
        <br>
         <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Refer a Student to This Tutor</h2>
                </div>
                <div class="panel-body">
                        <form data-toggle="validator" role="form" name="form">
                            <table class="table">
                                <tr>
                                    <div class="form-group" ng-class="{ 'has-error': form.email.$invalid && !form.email.$pristine}">
                                        <label for="inputEmail" class="control-label">Email</label>
                                        <input ng-model="newReferral.toStudentEmail" type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" data-error="Email address is invalid" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="form-group" ng-class="{ 'has-error': form.message.$invalid && !form.message.$pristine}">
                                        <label for="inputMessage" class="control-label">Message</label>
                                        <textarea ng-model="newReferral.message" id="inputMessage" class="form-control" name="message" placeholder="Message" style="resize:vertical;" required></textarea>
                                    </div>
                                </tr>
                            </table>
                            <button class="btn btn-primary" ng-click="referencing()" ng-disabled="form.$invalid">Refer</button>
                        </form>

                </div>
            </div>
        </div>
    </div>
    <div ng-if="actor.authorization=='Admin' || actor.authorization =='SAdmin'" class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading">User Connection Info</div>
            <table class="table">
                <thead>
                <tr>
                    <th>Devices</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Type</th>
                        <th>Vendor</th>
                        <th>Model</th>
                    </tr>
                    <tr ng-repeat="connection in user.connections | unique:'device'">
                        <td>{{connection.device.dtype}}</td>
                        <td>{{connection.device.vendor}}</td>
                        <td>{{connection.device.model}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>IP Addresses</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="connection in user.connections | unique:'ipAddress'">
                        <td>{{connection.ipAddress}}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Browsers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="connection in user.connections | unique:'browser'">
                        <td>{{connection.browser}}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Operating Systems</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="connection in user.connections | unique:'os'">
                        <td>{{connection.os}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default" ng-if="actor.authorization == 'Admin' || actor.authorization == 'SAdmin'">
            <!-- Default panel contents -->
            <div class="panel-heading">User Activities</div>
            <!--<div class="panel-body">-->
            <!--</div>-->

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="activity in user.activities | orderBy:'-time'">
                        <td ng-if="activity.type == 'update_user'">Updated the profile for {{(activity.target.displayName)?activity.target.displayName:activity.target.email}}</td>
                        <td ng-if="activity.type == 'update_pass'">Updated password</td>
                        <td ng-if="activity.type == 'view_user'">Viewed profile of {{(activity.target.displayName)?activity.target.displayName:activity.target.email}}</td>
                        <td ng-if="activity.type == 'delete_user'">Deleted user of {{(activity.target.displayName)?activity.target.displayName:activity.target.email}}</td>
                        <td ng-if="activity.type == 'set_admin'">Promoted {{(activity.target.displayName)?activity.target.displayName:activity.target.email}} to Admin</td>
                        <td ng-if="activity.type == 'demote_admin'">Demoted {{(activity.target.displayName)?activity.target.displayName:activity.target.email}} to User</td>
                        <td>{{activity.time_formatted}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .star-ratings-css {
        unicode-bidi: bidi-override;
        color: #c5c5c5;
        font-size: 25px;
        height: 25px;
        width: 100px;
        margin: 0 auto;
        margin-bottom: 5px;
        position: relative;
        padding: 0;
    }

    .star-ratings-css-top {
        color: #F0AD4E;
        padding: 0;
        position: absolute;
        z-index: 1;
        display:block;
        left: 0px;
        overflow: hidden;
    }
    .star-ratings-css-bottom {
        z-index: 0;
    }
</style>