<div ng-if="userType == 'Students'">
        <center ng-if="referrals.length == 0"><h4>No Referrals</h4></center>
        <div ng-repeat="ref in referrals">
            <div class="panel panel-default" >
                <div class="panel-body bg-success" ng-class="noResponseClass">
                    <div class="Row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>From: {{ref.fromStudentId.displayName}}</p>
                            <p>Sent: {{ref.created_at}}</span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a ng-href="/#/users/{{ref.tutorId._id}}/profile">
                      <h3>Tutor: {{ref.TutorId.displayName ? ref.TutorId.displayName : "No Display Name" }} </h3>
                    </a>
                    <p>{{ref.message}}</p>
                </div>
            </div>
        </div>
    </div>