<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>

</head>
<body>

    <div ng-if="userType == 'Student'" class="container">

        <div class="Row" style="margin-bottom: 50px">
            <div class="col-lg-6">
                <button class="btn btn-primary" ng-click="studentRequests()" style="width: 100%">
                    Request
                </button>
            </div>
            <div class="col-lg-6">
                <button class="btn btn-primary" ng-click="studentReferrals()" style="width: 100%">
                    Referrals 
                </button>
            </div>
        </div>

        <div class="Row" style="margin-bottom: 100px">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="searchTopic()" type="button">Search</button>
                    </span>
                    <input ng-model="searchTerm" type="text" class="form-control" placeholder="Search for Topics">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>

        <div ng-repeat="tutor in tutors">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="Row">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <img src="tutor.image"></img>
                        </div>
                        <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <span>Name: {{tutor.name}} </span>
                            <br>
                            <span>Topics: {{tutor.topicStr}} </span>
                        </div> 
                    </div>

                    <div class="Row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <span> {{tutor.rating}} </span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                            <span> Description: {{tutor.decription}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-if="userType == 'Tutor'" ng-repeat="req in requests">
            <div class="panel panel-default" >
                <div class="panel-body" ng-click='panelClick(req)' ng-class="!req.hasResponse ? noResponseClass : (req.accepted ? acceptResponseClass : denyResponseClass)">
                    <div class="Row">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <span ng-bind="req.topic"></span>
                            <span ng-bind="req.name"></span>
                            <span ng-bind="req.time"></span>
                        </div>
                    </div>
                </div>
                <div ng-if="req.active" class="panel-footer">
                    <div ng-if="!req.hasResponse" class="input-group" style="margin-bottom: 20px">
                        <label class="radio-inline">
                            <input name="{{req.id}}" type="radio" checked ng-model="req.response" ng-value="True">
                            Accept
                        </label>
                        <label class="radio-inline">
                            <input name="{{req.id}}" type="radio" ng-model="req.response" ng-value="False">
                            Deny
                        </label>
                        <button class="btn btn-primary btn-lg" ng-click="sendRequest(req)" type="button">
                            Respond
                        </button>
                    </div>

                     <div class="form-group">
                          <label for="comment">Request:</label>
                          <textarea class="form-control" rows="3" disabled></textarea>
                    </div>

                     <div ng-if="!req.hasResponse || req.accepted" ng-disabled="req.hasResponse" class="form-group">
                          <label for="comment">Response:</label>
                          <textarea ng-model="req.resMessage" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="container">
        <div class="Row" style="margin-bottom: 50px">
            <div class="col-lg-6">
                <button class="btn btn-primary" ng-click="goToSearch()" style="width: 100%">
                    Search
                </button>
            </div>
            <div class="col-lg-6">
                <button class="btn btn-primary" ng-click="adminAnalytics()" style="width: 100%">
                    Analytics 
                </button>
            </div>
        </div>
        <div ng-repeat="dispute in disputes">
            <div class="panel panel-default">
                <div class="panel-body" ng-click='panelClick(dispute)'>
                    <div>
                        <span>Name: {{dispute.studentName}}</span>
                        <span>Rating: {{dispute.rating}}</span>
                    </div>
                    <div>
                        <span> 
                            {{dispute.review}}
                        </span>
                    </div>
                </div>
                <div ng-if="dispute.active" class="panel-footer" style="padding-bottom: 50px">
                    <div>Complaint From: {{dispute.tutorName}}</div>
                    <div>{{dispute.message}}</div>
                    <div class="Row" style="margin-top: 50px">
                        <div class="col-lg-6">
                            <button class="btn btn-success" ng-click="disputeIgnore(dispute)" style="width: 100%">
                                Ignore
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-danger" ng-click="disputeRemove(dispute)" style="width: 100%">
                                Remove Review 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>










