<div ng-if="userType == 'Students'">
        <center ng-if="requests.length == 0"><h4>No Requests</h4></center>
        <div ng-repeat="req in requests">
            <div class="panel panel-default" >
                <div class="panel-body" ng-click='panelClick(req)' ng-class="!req.hasResponse ? noResponseClass : (req.accepted ? acceptResponseClass : denyResponseClass)">
                    <div class="Row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>Topic: {{req.topicId.name}}</p>
                            <p>Tutor: <a ng-href="/#/users/{{req.tutorId._id}}/profile">  {{req.tutorId.displayName}}</a> </p>
                            <p>Time: {{req.created_at}}</p>
                        </div>
                    </div>
                </div>
                <div ng-if="req.active" class="panel-footer">
                     <h4 ng-if="req.accepted"> Email: {{req.tutorId.email}} </h4>
                     <div class="form-group">
                          <label for="comment">Request:</label>
                          <textarea class="form-control" rows="3" ng-bind="req.message" disabled></textarea>
                    </div>

                     <div ng-if="!req.hasResponse || req.accepted" class="form-group">
                          <label for="comment">Response:</label>
                          <textarea ng-model="req.response" disabled class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>